DRIP_SUPPORT_ENABLED=true
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
STRIPE_SECRET_KEY=
DRIP_SUPPORT_RATE_LIMIT_SALT=
SUPPORT_SUCCESS_URL=https://dripcouncil.org/support.html?support=success
SUPPORT_CANCEL_URL=https://dripcouncil.org/support.html?support=cancel
